<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h3>Mi valor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
          <h2>Gestor de Clientes</h2>
          <button type="button" on-click="obtenerClientes" class="btn btn-primary">Obtener Clientes</button>
          <button type="button" on-click="insertarClientes" class="btn btn-primary">Insertar Clientes</button>

      </div>
      <div class="row">
        <table class="table table-striped col-lg-22 col-xs-12">
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>
                  [[item.idCliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true // variable booleana
            //value: 'mi-visor'
          }
        };
      }
  /*  obtenerClientes(){
      var request= new XMLHttpRequest(); // INSTANCIA DE httprequest
      //request.open('GET', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.open("GET","http://localhost:3002/Clientes", false)
      //request.setRequestHeader("Accept","application/json");
      request.send();
      this.clientes=JSON.parse(request.responseText).value;
      console.log(this.clientes);
    } */
    obtenerClientes() {
        var request = new XMLHttpRequest();
        //request.open("GET", "https://services.odata.org/Northwind/Northwind.svc/Customers", false);
        request.open("GET", "http://localhost:3002/Clientes", false);
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes); 
      }
    insertarClientes(){
      var request= new XMLHttpRequest(); // INSTANCIA DE httprequest
      request.open('POST', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var nuevoCliente={"CustomerID":"12354","ContactName":"Pepe","CompanyName":"PepesShop"};
      var body=JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta=request.responseText;
      console.log(this.respuesta);

    }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
