<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Acces-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
        padding: 5px 10px;
                color: #f1c40f;
                background-color:#0d2246;;
                text-align: center;
      }
      .centrar{
        text-align: center;
      }
    </style>

    <div class="container centrar">
      <div class="row">

        Email: <input style="margin-top:10px;" type="email" value="{{email::input}}">
        <br />
        Password: <input style="margin-top:10px;" type="password" value="{{password::input}}">
        <br />
        <button style="margin-top:10px;" on-click="login" class="btb btn-success">Login</button>

      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Bienvenido a la App</span>


</div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'login-app'
          },
          password: {
            type: String
            //value: 'login-app'
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData={
          "email":this.email,
          "password": this.password

        };


        console.log(loginData);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio apirest");
        this.logado=true;
        location.replace("src/sistema-pantalla/pantalla-principal.html")
        //window.open("src/sistema-pantalla/pantalla-principal.html")
      }
      showError(){
        console.log("Hubo un error ein iron-ajax");
        alert("Datos ingresados incorrectos, validar");
        console.log(error);
        this.logado=false;
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
