<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Acces-Control-Allow-Origin: *

<dom-module id="registrar-app">
  <template>
    <style>
      :host {
        display: block;
        padding: 5px 10px;
                color: #16a085;
                background-color:#0d2246;;
                text-align: center;
      }
      .centrar{
        text-align: center;
      }
    </style>

    <div class="container centrar">
      <div class="row">

        <br />
        <br />
        Ingresa un email: <input type="email" value="{{email::input}}">
        <br />
        Elige tu nuevo Password: <input type="password" value="{{password::input}}">
        <br />
        <button on-click="login" class="btb btn-success">Registrarse</button>

      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Cliente registrado</span>

</div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/Registrar"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistrarApp extends Polymer.Element {
      static get is() { return 'registrar-app'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'registrar-app'
          },
          password: {
            type: String
            //value: 'registrar-app'
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData={
          "email":this.email,
          "password": this.password

        };


        console.log(loginData);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio apirest");
        this.logado=true;
      }
      showError(){
        console.log("Hubo un error ein iron-ajax");
        alert("Datos ingresados incorrectos, validar");
        console.log(error);
        this.logado=false;
      }
    }

    window.customElements.define(RegistrarApp.is, RegistrarApp);
  </script>
</dom-module>
