<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Acces-Control-Allow-Origin: *

<dom-module id="registrar-productos">
  <template>
    <style>
      :host {
        display: block;
        padding: 5px 10px;
                color: #16a085;
                background-color:#0d2246;;
                text-align: center;
      }
      .centrar{
        text-align: center;
      }
    </style>

    <div class="container centrar">
      <div class="row">

        <br />
        <br />
        Producto: <input style="margin-top:5px;" type="text" value="{{producto::input}}">
        <br />
        Departamento: <input style="margin-top:5px;" type="text" value="{{tipo_producto::input}}">
        <br />
        Empresa: <input style="margin-top:5px;" type="text" value="{{empresa::input}}">
        <br />
        Promoción: <input style="margin-top:5px;" type="text" value="{{promocion::input}}">
        <br />
        Producto Bancario: <input style="margin-top:5px;" type="text" value="{{producto_banc::input}}">
        <br />
        Tienda: <input style="margin-top:5px;" type="text" value="{{tienda::input}}">
        <br />
        <button style="margin-top:10px;" on-click="login" class="btb btn-success">Registrar Producto</button>

      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Nuevo Producto registrado</span>

</div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/registrarProd"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistrarProductos extends Polymer.Element {
      static get is() { return 'registrar-productos'; }
      static get properties() {
        return {
          producto: {type: String},
          tipo_producto: {type: String},
          empresa: {type: String},
          promocion: {type: String},
          producto_banc: {type: String},
          tienda: {type: String},

          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData={
          "producto":this.producto,
          "tipo_producto":this.tipo_producto,
          "empresa":this.empresa,
          "promocion":this.promocion,
          "producto_banc":this.producto_banc,
          "tienda":this.tienda,

        };


        console.log(loginData);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio apirest");
        this.logado=true;
      }
      showError(){
        console.log("Hubo un error ein iron-ajax");
        alert("Datos ingresados incorrectos, validar");
        console.log(error);
        this.logado=false;
      }
    }

    window.customElements.define(RegistrarProductos.is, RegistrarProductos);
  </script>
</dom-module>
